
ConsoleApplication1/x64/Release/ConsoleApplication1.log
ConsoleApplication1/x64/Release/Alcon2024.obj
ConsoleApplication1/x64/Debug/ConsoleApplication1.log
ConsoleApplication1/ConsoleApplication1.vcxproj.user
ConsoleApplication1/ConsoleApplication1.vcxproj.filters
ConsoleApplication1/ConsoleApplication1.vcxproj
.vs/OpenCV_Project/v16/ipch/AutoPCH/d165d5a3b0f13c2c/SAMPLE.ipch
.vs/OpenCV_Project/v16/Solution.VC.db
.vs/OpenCV_Project/v17/.suo
.vs/OpenCV_Project/v17/Browse.VC.db
.vs/OpenCV_Project/v17/DocumentLayout.json
.vs/OpenCV_Project/v17/ipch/AutoPCH/a3a67b676eaa7751/ALCON2024.ipch
.vs/OpenCV_Project/v17/ipch/AutoPCH/af26233f6ca3ea7a/SAMPLE.ipch
.vs/OpenCV_Project/v17/ipch/AutoPCH/bed68aeb94e7bd83/OPENCV_MAIN.ipch
.vs/OpenCV_Project/v17/ipch/AutoPCH/cbd5001eac41a0b8/ALCON2024.ipch
